<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" type="File" fileName="${specialfolder:folder=LocalApplicationData}/woanware/SessionViewer/Log.txt" layout="${longdate} [${level:uppercase=true}] ${message}"/>
      <!--<target name="file" type="File" fileName="Log.txt" layout="${longdate} [${level:uppercase=true}] ${message}"/>-->
    </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeTo="file"/>
    </rules>
</nlog>